
*{
    margin:0px;
    padding:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#image{
    background-image: url(profile.jpg);
    margin: 20px;
    padding: 20px;
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:200px;
}

h1,h3,#personal{
    margin: 10px;
}


#About,#Education,#skills,#language{
    margin: 10px;
    padding: 10px;
}



